* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}
.header-content {
  width: 1024px;
  margin: 0 auto;
}
.mySite {
  height: 70px;
  float: left;
}
.header-list{
  float: right;
}
.header-list-menu{
  float: left;
  width: 120px;
	line-height: 70px;
	color: #FAFAFA;
	padding: 0 30px;
	list-style: none;
	font-size: 16px;
}

.header-list-menu a{
	color: #FAFAFA;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  padding-top: 200px;
  margin: 0 auto;
  text-align: center;
}

.main-visual-h {
  font-size: 64px;
  color: #FAFAFA;
  padding-bottom: 10px;
}
.main-visual-p {
  font-size: 20px;
  color: #FAFAFA;
}
.main {
  width: 100%;
}
.main-topic {
  padding: 90px 0;
  margin: 0 auto;
  height: auto;
  /* width: 1024px; */
}
.main-content {
  width: 920px;
  margin: 0 auto;
}

.main-content-h {
  font-size: 32px;
  color: #000000;
  text-align: center;
}
.under-bar {
  margin: 0 auto;
  height: 8px;
  width: 70px;
  border-bottom: solid 3px #EC715F;
}

.main-content-p {
  text-align: center;
  padding: 30px 0;
  font-size: 16px;
}

.portfolio-img1 {
  float: left;
  margin-bottom: 10px;
  width: 300px;
	height: 250px;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}
.portfolio-img2 {
  float: left;
  margin: 0 10px 10px 10px;
  width: 300px;
	height: 250px;
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}
.portfolio-img3 {
  float: left;
  margin-bottom: 10px;
  width: 300px;
  height: 250px;
  background-image: url(./img/write.jpg);
  background-size: cover;
  background-position: center;
}
.portfolio-img4 {
  float: left;
  width: 300px;
	height: 250px;
  background-image: url(./img/webcamp.png);
  background-size: cover;
  background-position: center;
}
.portfolio-img5 {
  float: left;
  margin: 0 10px;
  width: 300px;
	height: 250px;
  background-image: url(./img/talk.jpg);
  background-size: cover;
  background-position: center;
}
.portfolio-img6 {
  float: left;
  width: 300px;
	height: 250px;
  background-image: url(./img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

.Feature-content {
  width: 980px;
  margin: 0 auto;
  height: auto;
}

.Feature-element {
  width: 320px;
  height: auto;
  font-size: 60px;
  text-align: center;
  float: left;
    margin-right: 10px;
  padding-bottom: 90px:
}

.Feature-element-h {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
  text-align: center;
}
.Feature-element-p {
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.Feature-element:last-child{
  margin-right: 0;
}

.profile-content {
  width: 1024px;
  height: auto;
  margin: 0 auto;
}

.profile-element {
  width: 512px;
  height: auto;
  float: left;
  margin: 0 auto;
}
.profile-img {
  background-image: url(./img/my-icon.jpg);
  Border-radius:50%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.profile-element-h {
  font-size: 20px;
  margin-bottom: 5px;
}
.profile-element-p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
}

.contact-content {
  width: 800px;
  margin: 0 auto;
}

.contact-element1 {
  width: 400px;
  float: left;
  text-align: center;
  height: auto;
}
.contact-element1-1 {
  width: 130px;
  margin: 0 auto;
}
.contact-element2 {
  width: 400px;
  float: left;
  text-align: center;
  height: auto;
  font-size: 50px;
}
.contact-element2-1 {
  width: 170px;
  margin: 0 auto;
}

.contact-element-h {
  display: block;
  width: 120px;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
}

.contact-element-p {
  margin-bottom: 20px;
  text-decoration: underline;
  text-align: left;
}

.main-topic:nth-child(odd) {
  background-color: #ECEFF1;
}

footer {
  background-color: #EC715F;
  height: 60px;
  text-align: center;
  padding: 20px 0;
}
.footer-text {
  color: #FAFAFA;
  font-size: 16px;
}

@media screen and (max-width:767px) {
  header {
    display: block;
    width: 100%;
    height: 50px;
    /* margin: 0 5px; */
  }
  .header-content {
    width: 90%;
    margin: 0 auto;
    float: none;
  }
  .header-menu {
    width: 40px;
    height: 40px;
    float: right;
    border: 1px solid #fff;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .bar {
    display: block;
    width: 25px;
    height: 2px;
    border-bottom: 1px solid #fff;
    margin: 5px auto;
  }

  .header-list {
    display: none;
  }

  .mySite {
    height: 50px;
    float: none;
  }

  .main-visual {
    width: 100%;
    /* margin: 0 5px; */
    height: 650px;
    background-image: url(img/code.png);
    background-size: cover;
    background-position: center;
  }
  .main-visual-content {
    width: 90%;
  }
  .main-visual-h {
    width: 100%;
    font-size: 40px;
  }
  .main-visual-p {
    font-size: 18px;
  }
  .main {
    width: 100%;
    /* margin: 0 5px; */
  }

  .main-content {
    width: 90%;
}
  .portfolio-img1 {
    float: none;
    display: none;
  }
  .portfolio-img2 {
    float: none;
    margin: 0 auto 10px;
    width: 300px;
  	height: 250px;
    background-image: url(img/websuku.png);
    background-size: cover;
    background-position: center;
  }
  .portfolio-img3 {
    float: none;
    display: none;
  }
  .portfolio-img4 {
    float: none;
    width: 300px;
  	height: 250px;
    margin: 0 auto 10px;
    background-image: url(./img/webcamp.png);
    background-size: cover;
    background-position: center;
  }
  .portfolio-img5 {
    float: none;
    display: none;
  }
  .portfolio-img6 {
    float: none;
    width: 300px;
  	height: 250px;
    margin: 0 auto 10px;
    background-image: url(./img/webcamp-mother.png);
    background-size: cover;
    background-position: center;
  }
   .main-content-h {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  /*
  .main-content-p {
    display: block;
    width: 90%;
  } */
  .content {
    width: 90%;
    margin: 0 auto;
  }
  .Feature-content{
    width: 90%;
    margin: 0 auto;
  }
  .Feature-element{
    width: 100%;
    float: none;
    margin-right: 0;
    margin: 0 auto;
  }
  .profile-content {
    width: 90%;
    margin: 0 auto;
  }
  .profile-element{
    float: none;
    width: 90%;
    margin: 0 auto;

  }
  .profile-element:first-child {
    padding-bottom: 20px;
  }
  .profile-element-h {
    text-align: center;
  }
  .profile-element-p {
    text-align: center;
  }
  .contact-content{
    width: 100%;
  }
  .contact-element{
    width: 100%;
    float: none;
  }
  .contact-element-h {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .contact-element-p {
    margin-bottom: 20px;
  }
  .contact-element1 {
    margin: 0 auto;
    float: none;
    width: 90%;
  }
  .contact-element2 {
    margin: 0 auto;
    float: none;
    width: 90%;
  }
  .main-topic-topic {
    width: 90%;
    margin: 0 auto;
  }
  footer {
    width: 100%;
    /* margin: 0 5px; */
    font-size: 16px;
    height: 60px;
  }
  .bbb {
    display: none;
  }
  .bar:first-child{
    padding-top: 6px;
  }
}
